run = ["streamlit", "run", "main.py"]
modules = ["bash", "nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80
